{% extends "layouts/base.html" %}

{% block title %} Cadastro de voluntário {% endblock %} 

{% block body_class %} cadastro {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  {% include 'includes/navigation.html' %} 

  <header>
  </header>
  <section>
    

    <div class="page-header min-vh-100">
      <div class="container">
        <div class="row">
          <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
            <div class="position-relative h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center" style="background-image: url('/static/assets/img/illustrations/voluntariado.jpg'); background-size: cover;" loading="lazy"></div>
          </div>
          <div class="col-xl-5 col-lg-6 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
            <div class="card d-flex blur justify-content-center shadow-lg my-sm-0 my-sm-6 mt-8 mb-5">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                <div class="bg-gradient-primary shadow-primary border-radius-lg p-3">
                  <h3 class="text-white text-primary mb-0">Cadastro de voluntário</h3>
                </div>
              </div>
              <div class="card-body">
                <h5> Farmacêuticos: </h5>
                <p>Cadastro exclusivo através do CRF: <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSebhkktfSOh8yTzwh8r80-nzgyN_xIKLkyGr8jBl90Iz3dubA/viewform"> Clique aqui</a></p>
               
                <h5> Fisioterapeutas e Terapeutas Ocupacionais: </h5>
                <p>Cadastro exclusivo através do link: <a target="_blank" href="https://tamojuntors.com.br/crefito/voluntarios/novo_voluntario"> Clique aqui</a></p>
                
                <h5> Médicos Veterinários: </h5>
                <p>Cadastro exclusivo através do link: <a target="_blank" href="https://www.crmvrs.gov.br/noticia_detalhada.php?id_noticias=2129"> Clique aqui</a></p>
                
                <h5> EQUIPES de fora do RS: </h5>
                <p> Cadastro exclusivo para equipes: <a target="_blank" href="https://forms.office.com/pages/responsepage.aspx?id=CdncFcCN6UCh5c7LBTzdGm5PWIx_D1FJhKSn8KyaNPtUNUJBQ1FWQkMzMzBKTFc5MTc1NTJSRkFIUy4u"> Clique aqui</a></p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
