{% extends "layouts/base.html" %}

{% block title %} Doação de Agasalhos {% endblock %} 

{% block body_class %} doacao-agasalho{% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  {% include 'includes/navigation-transparent.html' %}

  <header class="bg-gradient-dark">
    <div class= "page-header min-vh-75 " style="background-image: url('/static/assets/img/bg11.jpg');" >
      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center mx-auto my-auto">
            <h1 class="text-white">Doação de Agasalhos: Transforme Vidas com seu Gestos.</h1>
            <p class="lead mb-4 text-white opacity-8">Um ato simples, com impacto duradouro. Contribua com agasalhos e aqueça o inverno de quem precisa!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
    <section class="py-7">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="row justify-content-start">
              <div class="col-md-6">
                <div class="info">
                  <h4>Aqueça Corações: Doe Agasalhos e Faça a Diferença!</h4>
                  <p>Prepare-se para espalhar calor e solidariedade! Junte-se a nós na campanha de doação de agasalhos, contribuindo com peças em bom estado para aquecer quem mais precisa neste inverno. Sua doação faz toda a diferença!</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info">
                  <h4>Doação de Agasalhos: Um Gestor de Solidariedade</h4>
                  <p>A doação de agasalhos é um ato de generosidade que aquece não apenas o corpo, mas também os corações. Ao separar aquelas peças que não utiliza mais, você está proporcionando conforto e esperança para aqueles que enfrentam o inverno com dificuldade. Participe desta corrente de solidariedade e faça a diferença na vida de quem mais precisa. Cada agasalho doado é um gesto de amor ao próximo.
                  </p>
                </div>
              </div>
            </div>
            <div class="row justify-content-start mt-4">
              <div class="col-md-6">
                <div class="info">
                  <h5>O Processo de Doação de Agasalhos</h5>
                  <p>A doação de agasalhos é um processo simples e gratificante, conduzido com cuidado por nossos voluntários qualificados. Desde o momento em que você separa suas peças até o momento em que elas chegam às mãos de quem precisa, cada passo é essencial. Contribua com o seu tempo e agasalhos em boas condições, fazendo a diferença no inverno de alguém.</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info">
                  <h5>Benefícios de Doar Agasalhos</h5>
                  <p>Doar agasalhos vai além de aquecer o corpo de quem recebe. É um gesto que aquece também o coração de quem doa. Além de proporcionar conforto e proteção contra o frio, você contribui para um mundo mais solidário. Ajudar os outros nunca sai de moda e é uma forma genuína de fazer o bem.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 ms-auto mt-lg-0 mt-4">
            <div class="card">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 ">
                <a class="d-block blur-shadow-image ">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJn8yZNV0yJjxZOJdZz4mZDpDAQfZ7tqchXA&s" alt="img-colored-shadow" class="img-fluid border-radius-lg ms-3" >
                </a>
              </div>
              <div class="card-body text-center">
                <h5 class="font-weight-normal">
                  <p=>Confira aqui a localização pra você fazer a doação de sangue</p>
                </h5>
                <button type="button" class="btn bg-gradient-info btn-sm ms-0 mt-1 me-auto" onclick="window.location.href='https://saude.sp.gov.br/resources/ses/perfil/cidadao/homepage-new/outros-destaques/locais_para_doacao_interior_sp_10.02.21.pdf'">Interior</button>
                <div class="text-start">
                   <button type="button" class="btn bg-gradient-info btn-sm mb-1 mt-0 ms-2 me-auto" onclick="window.location.href='https://saude.sp.gov.br/resources/ses/perfil/cidadao/homepage-new/outros-destaques/locais_para_doacao_grande_sp_atualizado_09_2.02'">Grande São Paulo</button>
                  <button type="button" class="btn bg-gradient-info btn-sm mb-1 mt-0 ms-5 " onclick="window.location.href='https://saude.sp.gov.br/resources/ses/perfil/gestor/acesso-rapido/grupo-de-sangue-componentes-e-derivados-hemorrede/postos-de-coleta-de-sangue/locais_para_doacao_sp_capital_28_11_17.pdf'">São Paulo-Capital</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="pt-4 pb-6" id="count-stats">
      <div class="container">
        <div class="row mb-7">
        </div>
        <div class="row justify-content-center text-center">
          <div class="col-md-3">
            <h1 style="color: aqua;">asaaaaaaaaaaaaaaaaasasaasa</h1>
            <h5>Projects</h5>
            <p>Of “high-performing” level are led by a certified project manager</p>
          </div>
          <div class="col-md-3">
            <h1 class="text-gradient text-info"><span id="state2" countTo="3400">0</span>+</h1>
            <h5>Hours</h5>
            <p>That meets quality standards required by our users</p>
          </div>
          <div class="col-md-3">
            <h1 class="text-gradient text-info"><span id="state3" countTo="24">0</span>/7</h1>
            <h5>Support</h5>
            <p>Actively engage team members that finishes on time</p>
          </div>
        </div>
      </div>
    </section>
    <section class="my-5 pt-5">
      <div class="container">
        <div class="row">
        
            
    </section>
  </div>

{% endblock content %}

{% block javascripts %}

  <script>
    var element = document.getElementById('count-stats');
    var elementHeight = element.clientHeight;


    document.addEventListener('scroll', animate);

    function inView() {
      var windowHeight = window.innerHeight;
      var scrollY = window.scrollY || window.pageYOffset;
      var scrollPosition = scrollY + windowHeight;
      var elementPosition = element.getBoundingClientRect().top + scrollY + elementHeight;

      if (scrollPosition > elementPosition) {
        return true;
      }

      return false;
    }

    var animateComplete = true;
    function animate() {

      if (inView()) {
        if (animateComplete) {
          if (document.getElementById('state1')) {
            const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
            if (!countUp.error) {
              countUp.start();
            } else {
              console.error(countUp.error);
            }
          }
          if (document.getElementById('state2')) {
            const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
            if (!countUp1.error) {
              countUp1.start();
            } else {
              console.error(countUp1.error);
            }
          }
          if (document.getElementById('state3')) {
            const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
            if (!countUp2.error) {
              countUp2.start();
            } else {
              console.error(countUp2.error);
            };
          }
          animateComplete = false;
        }
      }
    }

    if (document.getElementById('typed')) {
      var typed = new Typed("#typed", {
        stringsElement: '#typed-strings',
        typeSpeed: 90,
        backSpeed: 90,
        backDelay: 200,
        startDelay: 500,
        loop: true
      });
    }
  </script>

  <script>
    if (document.getElementsByClassName('page-header')) {
      window.onscroll = debounce(function() {
        var scrollPosition = window.pageYOffset;
        var bgParallax = document.querySelector('.page-header');
        var oVal = (window.scrollY / 3);
        bgParallax.style.transform = 'translate3d(0,' + oVal + 'px,0)';
      }, 6);
    }
  </script>

{% endblock javascripts %}
