<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/favicon.ico') }}">


        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">

    </head>

    <body class="bg-gray-100">

        <!-- Navbar -->
        <nav class="fixed w-screen z-50 bg-black text-white p-4">
            <div class="container mx-auto flex justify-between items-center">
                <a href="#" class="text-xl font-bold">Minhas Finanças</a>
                <div>
                    <a href="{{ url_for('logout') }}" class="text-white">Logout</a>
                </div>
            </div>
        </nav>

        <!-- Sidebar and Content -->
        <div class="container mx-auto flex">

            <!-- Sidebar -->
            <aside class="fixed mt-14 left-0 bg-gray-800 text-gray-200 w-52 min-h-screen">
                <div class="p-4">
                    <h3 class="text-xl font-semibold mb-4">Menu</h3>
                    <ul>
                        <li><a href="{{ url_for('dashboard') }}" class="block py-2 px-4 hover:bg-gray-700">Dashboard</a>
                        </li>
                        <li><a href="#" class="block py-2 px-4 hover:bg-gray-700">Profile</a></li>
                        <li><a href="#" class="block py-2 px-4 hover:bg-gray-700">Settings</a></li>
                      
                    </ul>
                </div>
            </aside>

            <!-- Conteúdo -->
            <div class="ml-48 mt-14 flex-1">
                {% block content %}{% endblock %}
            </div>
        </div>
        <script>
           
        </script>
    </body>

</html>